# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
/Nuxt_Pywebview_Sandbox/Front_Sandbox/node_modules

# Checkpoint Files
.ipynb_checkpoints

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example